body {
    background-color: aliceblue;
}

#profileDiv {
    margin: 30px;
    background-color: rgb(255, 255, 255);
    color: black;
}

header {
    background: rgb(24, 39, 119);
    padding: 20px;
    font-size: 35px;
    color: white;
}

.all-employees {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    text-align: center;
}

p {
    font-size: 25px;
    padding: 0 20px;
}

span {
    font-size: 25px;
    margin-left: 10px;
}